.banner {
    background-image: url(https://daihoc.fpt.edu.vn/templates/fpt-university/images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    background-color: black;
    opacity: 0.5;
}

/* -----------------event----
 */
 .event {
    margin-top: 50px;
    padding-bottom: 40px;
}
.event-1 {
    background-color: white;
    height: 333px;
    margin-bottom: 30px;
}

.event-1 img {
    width: 100%;
    height: 200px;
}
.event-1 img:hover {
    opacity:0.7;
    transition: .4s;
    transform: scale(1.06) rotate(2deg);
}

.text-1 {
    padding: 20px 10px;
    color: #888888;
}

.text-1 a {
    color: #404040;
    transition: all .2s;
    text-decoration: none;
}

.text-1 a:hover {
    color: #f05123;
}

.img-1 {
    position: relative;
    overflow: hidden;
}

.fa-bars {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 5px;
    color: white;
    font-size: 20px;
    background-color: #404040;
}

.list-next li{
    list-style-type: none;
}
.next-page ul{
    display: flex;
}
.list-next a{
    padding: 5px;
    margin: 3px;
    border: 1px solid #f05123;
    color: grey;
}